<!DOCTYPE html>
<html>  
  <head>       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"/>    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <title>Creado::Crud</title>
  </head>  
<body>    
   <div class="panel panel-info">
   		<div class="panel-heading"><h3>USUARIO CREADO CON ÉXITO!!!</h3></div>
   		<table class="table table-striped">
   			<thead>
   				<tr>
   					<th>ID</th>
   					<th>NOMBRE</th> 
   					<th>CONTRASEÑA</th> 
   					<th>CORREO ELECTRONICO</th>
   				</tr>
   			</thead>
   			<tbody>
   				<tr>
   					<tr data-th-text="${usuario.id}">
   					<tr data-th-text="${usuario.nombre}">
   					<tr data-th-text="${usuario.password}"> 
   					<tr data-th-text="${usuario.email}">
   				</tr>
   			</tbody>
   		</table>
   	</div>
   	<br/>
   	<a class="btn btn-inf" href="/crud">VOLVER</a>
</body>  
</html>